/*  your css code here. If applicable */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#verification_heading {
  text-align: center;
}

#verification_subtext {
  text-align: center;
  margin-bottom: 20px;
}

.code-container {
  display: flex;
}

.code {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
}